@import "../node_modules/@angular/material/prebuilt-themes/magenta-violet.css";
@import "styles/fonts/source-sans-pro";
@import "styles/fonts/material-icons-outlined";
@import "styles/fonts/material-icons";

html,
body {
  background-color: #1a1a1a;
  color: rgb(238, 222, 231);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}

mat-card {
  max-height: 100%;

  mat-card-content {
    max-height: 100%;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
      scrollbar-width: thin;
    }
  }
}

mat-tab-header {
  margin-bottom: 1rem;
}
