@import "../node_modules/@angular/material/prebuilt-themes/magenta-violet.css";
@import "styles/fonts/source-sans-pro";
@import "styles/fonts/material-icons-outlined";
@import "styles/fonts/material-icons";

html,
body {
  background-color: #1a1a1a;
  color: rgb(238, 222, 231);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
