@use "sass:meta";
@use "@angular/material" as mat;
@import "../node_modules/@angular/material/prebuilt-themes/magenta-violet.css";
@include meta.load-css("styles/fonts/source-sans-pro");
@include meta.load-css("styles/fonts/material-icons-outlined");
@include meta.load-css("styles/fonts/material-icons");

$my-theme: mat.define-theme(
  $config: (
    typography: (
      plain-family: '"Source Sans Pro", sans-serif',
      brand-family: '"Source Sans Pro", sans-serif',
    ),
  ),
);

:root {
  @include mat.all-component-typographies($my-theme);
}

html,
body {
  background-color: #1a1a1a;
  color: rgb(238, 222, 231);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}

mat-card {
  max-height: 100%;

  mat-card-content {
    max-height: 100%;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
      scrollbar-width: thin;
    }
  }
}

mat-tab-header {
  margin-bottom: 1rem;
}
