<div class="timer">
  <div class="counter-display">
    @for (digit of digits; track digit) {
    <button mat-flat-button>{{ digit }}</button>
    }
  </div>
  <div>
    <button mat-flat-button (click)="setRunTimer(true)">Start</button>
    <button mat-flat-button (click)="setRunTimer(false)">Pause</button>
  </div>

  <div>
    <button mat-flat-button (click)="setCountTo()">Set To</button>
    <mat-form-field appearance="outline">
      <input
        matInput
        id="setTo"
        type="number"
        min="0"
        [(ngModel)]="setTo"
      />
    </mat-form-field>
    <button mat-flat-button (click)="resetTimer()">Reset</button>
  </div>

  <div>
    <button mat-flat-button (click)="setCountDirection(true)">Count Up</button>
    <button mat-flat-button (click)="setCountDirection(false)">
      Count Down
    </button>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label for="tickSpeed">Tick Speed</mat-label>
      <input matInput type="number" min="0" [(ngModel)]="tickSpeed" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="countDiff">Count Diff</mat-label>
      <input matInput type="number" min="1" [(ngModel)]="countDiff" />
    </mat-form-field>
  </div>
</div>
