@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

.main {
  height: 95vh;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 720px;
  min-width: 1280px;
}
