// Import Tailwind CSS
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '@angular/material-experimental' as mat-experimental;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GenericPortal-primary: mat.define-palette(mat.$indigo-palette);
$GenericPortal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GenericPortal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GenericPortal-theme: mat.define-light-theme((color: (primary: $GenericPortal-primary,
        accent: $GenericPortal-accent,
        warn: $GenericPortal-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

$GenericPortal-dark-theme: mat.define-dark-theme((color: (primary: $GenericPortal-primary,
        accent: $GenericPortal-accent,
        warn: $GenericPortal-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($GenericPortal-theme);
@include mat-experimental.column-resize-theme($GenericPortal-theme);

body.dark-theme {
  @include mat.all-component-colors($GenericPortal-dark-theme);
  @include mat-experimental.column-resize-color($GenericPortal-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@for $i from 1 through 5 {
  mat-form-field.dense-#{$i} {
    @include mat.form-field-density(-$i);
  }

  mat-icon.dense-#{$i} {
    @include mat.icon-density(-$i);
  }
}

mat-icon.mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-option.child-span-contents {
  span.mdc-list-item__primary-text {
    display: contents;
  }
}