<div class="h-screen grid grid-rows-[4rem,calc(100%-4rem)]">
  <header
    class="col-span-full flex items-center justify-between border-b flex-shrink-0"
  >
    <div>G DATA</div>
    <app-query></app-query>
    <div>c</div>
  </header>
  <div class="flex flex-row">
    <nav class="h-full w-64 border-r">
      <app-navigation></app-navigation>
    </nav>
    <main class="h-full flex-grow">
      <router-outlet></router-outlet>
    </main>
    <aside class="h-full flex-shrink"></aside>
  </div>
</div>
